body {
    background-color: rgb(254, 228, 231);
    margin: 0;
}

.top-photo {
    width: 1900px;
    height: 1500px;
}


h1 {
    position: fixed;
    top: 20px;
    left: 50px;
    font-family: "Courier New", monospace;
}


nav {
    position: fixed;
    top: 500px;
    left: 50px;
}

ul {
    list-style-type: "Ôºç";
}

li {
    margin-bottom: 12px;
}

.about-content {
    display: flex;
    gap: 100px;
    margin-top: 100px;
    margin-left: auto;
    width: 90%;
}

.about-photo {
    width: 150px;
}

.subtitle {

    width: 80%;
    margin-left: auto;
    margin-top: 100px;
}

section {
    padding: 150px;

}

.name {
    margin-bottom: 50px;
    font-weight: bold;
}

.name .first {
    margin-left: 0.5em;
}

.work-content {
    width: 60%;
    margin-top: 150px;
    margin-left: auto;
}

.contact-content {

    margin-top: 100px;
    width: 75%;
    margin-left: auto;
}

.contact-content .address {
    margin-left: 0.5em;
}

.address {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}